
[submodule ".UFMG.Pds2.CppVpls"]
	path = .UFMG.Pds2.CppVpls
	url = https://github.com/DuarteDvv/.UFMG.Pds2.CppVpls
[submodule ".UFMG.Pds2.ProjetoFinal"]
	path = .UFMG.Pds2.ProjetoFinal
	url = https://github.com/DuarteDvv/.UFMG.Pds2.ProjetoFinal
[submodule "UFMG.Pds1.ProjetoFinal"]
	path = UFMG.Pds1.ProjetoFinal
	url = https://github.com/DuarteDvv/UFMG.Pds1.ProjetoFinal
